@import url('https://fonts.googleapis.com/css?family=Oxygen:300');
@import '../scss/media';

$textcolor: #0D1921;

html {
    scroll-behavior: smooth;
}

body {
    color: $textcolor;
    font-family: 'Oxygen';
    font-weight: light;
    letter-spacing: 0.25px;
    overflow-y: scroll;
    transition: 0.25s opacity ease-in;
    margin: 0;
}

a {
    text-decoration: none;
}

.bodyUpdating {
    opacity: 0;
    transition: 0.25s opacity ease-out;
}
