@import url('https://fonts.googleapis.com/css?family=Oxygen:300');
@import '../scss/media';

$textcolor: #0D1921;

html {
    scroll-behavior: smooth;
}

body {
    color: $textcolor;
    font-family: 'Oxygen';
    font-weight: light;
    letter-spacing: 0.25px;
    overflow-y: scroll;
    transition: 0.25s opacity ease-in;
    margin: 0;
}

a {
    text-decoration: none;
}

.bodyUpdating {
    opacity: 0;
    transition: 0.15s opacity ease-out;
}

.sidebar {
    display: flex;
    height: 18px;
    justify-content: space-around;
    left: -65px;
    position: fixed;
    top: calc(50vh - 20px);
    transform: rotateZ(270deg);
    width: 160px;

    @include media("<=tablet") {
       transform: rotateZ(0);
       position: absolute;
       top: 4px;
       left: 4px;
       display: inline-block;
       flex-direction: row;
       width: auto;
    }
}