@import '../scss/media';

.section {
    align-items: center;
    display: flex;
    height: 110vh;
    justify-content: center;
    min-height: 300px;

    &.intro {
        height: 100vh;
    }

    & + & {
        margin-top: 50px;
    }

    @include media("<desktop") {
        min-height: auto;
        height: inherit;
    }
}

.intro.section {
    flex-direction: column;
}


.headline {
    font-size: 24px;
    text-align: center;
    padding: 10px;
}

.gallery .headline {
    background: #FFF;
    padding: 0 5px;
    text-align: left;
    z-index: 100;

    @include media("<desktop") {
        font-size: 18px;
    }
}

.subtitle {
    padding: 5px 5px;
    margin-top: 1px;
    font-size: 12px;
}

.gallery .subtitle {
    opacity: 1;
    background: #FFF;
    min-width: 150px;
    line-height: 1;
}