.profileWrapper {
    align-items: center;
    display: flex;
    gap: 8px;
    height: 24px;
    position: absolute;
    right: 4px;
    top: 0px;
}

.profileWrapper img {
    height: 12px;
    width: 12px;
}

.profileWrapper .email,
.profileWrapper .username {
    font-size: 8px;
    padding: 2px;
}

.profileWrapper .email {
    overflow: hidden;
    padding: 4px 0;
    transition: 0.2s all ease-in-out;
    width: 0px;
}

.profileWrapper:hover .email {
    transition: 0.2s all ease-in-out;
    width: 80px;
}
.profileWrapper .username {
    padding: 4px 0;
    transition: 0.2s all ease-in-out;
    width: 24px;
}
.profileWrapper:hover .username {
    overflow: hidden;
    padding: 4px 0;
    transition: 0.2s all ease-in-out;
    width: 0px;
}