@import '../scss/media';

$textcolor: #0D1921;

.wrapper {
    width: 50px;
}

.sidebarButton {
    color: $textcolor;
    cursor: pointer;
    letter-spacing: 0.5px;
    padding: 2px 5px;
    text-transform: uppercase;
    transition: 0.5s background-color ease-in-out, 0.25s color ease-in-out;
    z-index: 1;

    @include media("<=tablet") {
        padding: 0;
        position: relative;
        height: 0;
        width: 100vw;
        top: 70vh;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @include media(">tablet") {
        font-size: 10px;
    }

    &:hover {
        background-color: $textcolor;
        color: #FFF;
        text-decoration: none;
        transition: 0.5s background-color ease-in-out, 0.25s color ease-in-out;
    }
}

.sidebarButton + .sidebarButton { 
    @include media(">tablet") {
        margin-left: 4px;
    }
}